<div class="navbar-container-div">
  <app-navbar></app-navbar>
</div>
<div class="content-div">
  <div class="form-container-div">
    <app-form
      (learnerName)="getLearnerName($event)"
      (courseName)="getCourseName($event)"
      (instructorName)="getInstructorName($event)"
      (completionDate)="getCompletionDate($event)"
      (errors)="getErrors($event)"
    ></app-form>
  </div>
  <div class="preview-container-div">
    <app-preview
      [learnerName]="learnerName"
      [courseName]="courseName"
      [instructorName]="instructorName"
      [completionDate]="completionDate"
      [errors]="errors"
    ></app-preview>
  </div>
</div>
