.form-container {
  margin: 1em;
}
.form-container .form-card {
  height: 35em;
  width: 30em;
  padding: 1em;
}
.form-card-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 33em;
}
.form-field-div {
  margin-top: 2em;
}
.form-field {
  width: 30em;
}
